<div class="row">
  <div class="col-md-5">
    <h2>Data</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let datum of data"
        (click)="selectDatum(datum)"
        [class.active]="datum === selectedDatum">
        {{datum.createDate}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewDatum()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <datum-details
      [datum]="selectedDatum"
      [createHandler]="addDatum"
      [updateHandler]="updateDatum"
      [deleteHandler]="deleteDatum">
    </datum-details>
  </div>
</div>